* {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin:0;
}

 .container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width:800px; 
  /* the element has a fixed width of 800px. If the parent container is wider, the element will NOT expand. If the parent container is narrower, the element will adjust (this is when max width:100% kicks in) */
}

aside {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  border-right: 1px solid #111;
  row-gap: 20px;
}

button {
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

main {
  flex-grow: 1;
  padding: 10px 20px;
}

hr {
  height:3px;
  background-color: #111;
}

h2 {
  display: flex;
  justify-content: space-between;
  /* gives table look without using tables */
  font-weight: 300;
  margin: 0 0 20px;
  /* top 0 - left and right 0 - bottom 20px */
}

h3 {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  /* gives table look without using tables */
  font-weight: 300;
  margin: 20px 0 0;
  padding: bottom;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

/* .results-container {
  display: flex;
  flex-direction: row;
  
}  */